DEEPSEEK_API_KEY=replace_with_your_deepseek_key
TENCENT_SECRET_ID=replace_with_your_tencent_secret_id
TENCENT_SECRET_KEY=replace_with_your_tencent_secret_key
TENCENT_ASR_ENGINE=16k_zh_en
TENCENT_ASR_MINNAN_ENGINE=16k_zh_en
TENCENT_ASR_HAKKA_ENGINE=16k_zh_en
